.display__int{
    height: 25vh;
    min-height: 15rem;
    border: solid 1px #8c8c8c;
    margin: 0 0 2rem 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px 0;
     h1{
        grid-column:2/3;
        grid-row:2/3;
        font-size: 5rem;
        justify-self: center;
        align-self: center;
    }
     p {
        grid-column:1/4;
        grid-row:3/4;
        text-align: end;
        margin: 0 1rem 0 0;
    }

}
 .form__int label{
    display:block;
    font-size: 1.5rem;
    font-family:'Poppins', san-serif;
    font-weight:700;
    margin:0 0 1rem 0;
}
 .form__buttons-box {
    display: flex;
    flex-direction:column;
    margin:2rem 0 0 0;
     .btn-a{
        order:1
    }
     .btn-b{
        order:2
    }
}
 .container__other-buttons {
    display: flex;
    flex-direction: column;
}