.layout{
    display:grid;
    grid-template-columns: 1fr repeat(4, 20%) 1fr;
    grid-template-rows: repeat(8, 1fr);
    width:100vw;
    height: 100vh;
    & .container {
        grid-column: 2/6;
    
        &.__ext--pb{
            grid-row: 1/9;
            justify-self: center;
            align-self: center;
            & .button__pb{
                width:100px;
                height:100px;
                border-radius: 50%;
                border:solid 5px #8C8C8C;
                display:flex;
                justify-content:center;
                align-items: center;
                box-shadow:0px 5px 10px rgba(0, 0, 0, .5);
                &:hover{
                    cursor:pointer;
                    animation:increase 200ms forwards;
                }
                & .icon__pb{
                    font-size:3rem;
                    color:#5E5E5E;
                }
            }
        }
        &.__ext--rest{
            grid-row: 2/7;
        }
        &.__int{
            grid-row: 1/8;
        }
    }
}